@font-face {
  font-family: "Argent Pixel";
  src: url("../../assets/fonts/ArgentPixelCF-Regular.woff2") format("woff2"),
    url("../../assets/fonts/ArgentPixelCF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Argent Pixel";
  src: url("../../assets/fonts/ArgentPixelCF-Italic.woff2") format("woff2"),
    url("../../assets/fonts/ArgentPixelCF-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Altered Beast";
  src: url("../../assets/fonts/altered-beast.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mister Pixel Regular";
  src: url("../../assets/fonts/Mister-Pixel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mister Pixel Tools";
  src: url("../../assets/fonts/Mister-Pixel-Tools.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
